@use "../../styles/style.scss" as *;

.top-movies {
  margin-bottom: 120px;
}



@media (max-width: 1221px) {
  .top-movies {
    .content-common {
      padding: 0;
    }
    .h2-common {
      padding: 0 20px;
    }
  }
}
