$background: linear-gradient(0deg, rgba(39, 36, 36, .7), rgba(0, 0, 0, .77)), linear-gradient(0deg, rgba(163, 147, 245, 1), rgba(39, 135, 245, 1));
$black: #000;
$white: #fff;
$color1: #393b3c;
$color2: #308e21;
$color3: #67a5eb;
$color4: rgba(#393b3c, 0.4);
$color5: #dc5dfc;
$color6: #6a5dc2;
$color7: #ffffff54;
$color8: #a59400;
$color9: #777777;
$color10: #c82020;
$color11: #45526E;
$color12: #747474;
$color13: #B4A9FF;
$fontsize1: 24px;
$fontsize2: 18px;
$fontsize3: 48px;
$fontsize4: 27px;
$fontsize5: 12px;
$fontsize6: 14px;
$fontsize7: 40px;

